@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist, var(--font-geist-sans));
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --font-sans: "Urbanist", var(--font-geist-sans), sans-serif;
  --input-bg: #ffffff;
  --input-border: #cccccd;
  --input-placeholder: #b2b2b3;
  --input-text: #10141a;
  --input-error-border: #d53411;
  --input-error-text: #d53411;
  --color-main: #00b4b8;
  --color-grey-200: #b2b2b3;
  --color-grey-800: #565656;
  --color-red: #d53411;
  --color-blue: #2b82ff;
  --color-green: #0eaf52;
  --color-white: #ffffff;
  --color-black: #000000;
  --background: var(--color-white);
  --foreground: var(--color-black);
  --card: var(--color-white);
  --card-foreground: var(--color-black);
  --popover: var(--color-white);
  --popover-foreground: var(--color-black);
  --primary: var(--color-main);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-grey-200);
  --secondary-foreground: var(--color-white);
  --muted: #f5f5f5;
  --muted-foreground: var(--color-grey-800);
  --accent: var(--color-blue);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red);
  --destructive-foreground: var(--color-white);
  --border: var(--color-grey-200);
  --input: var(--color-grey-200);
  --ring: var(--color-main);
  --chart-1: var(--color-main);
  --chart-2: var(--color-blue);
  --chart-3: var(--color-green);
  --chart-4: var(--color-red);
  --chart-5: var(--color-grey-800);
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--color-black);
  --sidebar-primary: var(--color-main);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-blue);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-grey-200);
  --sidebar-ring: var(--color-main);
}

.dark {
  --background: var(--color-black);
  --foreground: var(--color-white);
  --card: #101010;
  --card-foreground: var(--color-white);
  --popover: #101010;
  --popover-foreground: var(--color-white);
  --primary: var(--color-main);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-grey-800);
  --secondary-foreground: var(--color-white);
  --muted: #1a1a1a;
  --muted-foreground: var(--color-grey-200);
  --accent: var(--color-blue);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red);
  --destructive-foreground: var(--color-white);
  --border: var(--color-grey-800);
  --input: var(--color-grey-800);
  --input-bg: #10141a;
  --input-border: #565656;
  --input-placeholder: #b2b2b3;
  --input-text: #ffffff;
  --input-error-border: var(--color-red);
  --input-error-text: var(--color-red);
  --ring: var(--color-blue);
  --chart-1: var(--color-main);
  --chart-2: var(--color-blue);
  --chart-3: var(--color-green);
  --chart-4: var(--color-red);
  --chart-5: var(--color-grey-200);
  --sidebar: #101010;
  --sidebar-foreground: var(--color-white);
  --sidebar-primary: var(--color-main);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-blue);
  --sidebar-accent-foreground: var(--color-white);
  --sidebar-border: var(--color-grey-800);
  --sidebar-ring: var(--color-blue);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
